
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nutrics</title>

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

	<!-- Css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<div class="full-tem">
		<!-- Header Area -->
		<div class="tem-hdr">
			<div class="hdr-top">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 col-md-4">
							<!-- Hdr Logo -->
							<div class="hdr-logo">
							    <a target="_blank" href="#">
							        <img src="images/logo.png" alt="Logo">
							    </a>
							</div><!-- // End Hdr Logo -->
						</div>
						<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-0">
							<div class="row">
								<div class="col-md-6">
									<div class="single-promo">
										<i class="fa fa-star" aria-hidden="true"></i> Best seller
									</div>
								</div>
								<div class="col-md-6">
									<div class="single-promo">
										<i class="fa fa-truck" aria-hidden="true"></i> Fast shipping
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="single-promo mt-1">
										<i class="fa fa-comments" aria-hidden="true"></i> Great service
									</div>
								</div>
								<div class="col-md-6">
									<div class="single-promo mt-1">
										<i class="fa fa-thumbs-up" aria-hidden="true"></i> Satisfaction guarantee
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hdr-btm">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="hdr-nav text-center">
								<ul>
									<li><a target="_blank" href="#">Home</a></li>
									<li><a target="_blank" href="#">About us</a></li>
									<li><a target="_blank" href="#">Feedback</a></li>
									<li><a target="_blank" href="#">Newsletter</a></li>
									<li><a target="_blank" href="#">Contact us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div><!-- // End Header Area -->
		<!-- Banner Area -->
		<div class="bnr-area text-center" style="background-image: url(images/slide3-bg.png);">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Product Title -->
						<h1>HERE YOUR PRODUCT NAME</h1>
					</div>
				</div>
			</div>
		</div><!-- // End Banner Area -->
		<!-- Product Area -->
		<div class="product-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 order-lg-2">
						<!-- Sidebar -->
						<div class="sidebar-area">
							<!-- Store Category -->
							<div class="sidebar-widget">
								<h4 class="sidebar-widget-title">CATEGORY</h4>
								<div class="sidebar-widget-con">
									<ul>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/Anti-Ageing-Supplements/_i.html?_storecat=27071577012">Anti Ageing Supplements</a></li>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/Anti-Wrinkle/_i.html?_storecat=10012589012">Anti Wrinkle</a></li>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/BodyBuilding-Supplements/_i.html?_storecat=27071579012">BodyBuilding Supplements</a></li>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/Health-Wellbeing/_i.html?_storecat=27071580012">Health & Wellbeing</a></li>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/Herbal-Supplements/_i.html?_storecat=27071576012">Herbal Supplements</a></li>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/Ingredients/_i.html?_storecat=10012600012">Ingredients</a></li>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/Skin-Whitening-Supplements/_i.html?_storecat=27071578012">Skin Whitening Supplements</a></li>
										<li><a target="_blank" href="https://www.ebay.co.uk/str/ralis2015/Weight-Loss-Supplements/_i.html?_storecat=27071581012">Weight Loss Supplements</a></li>
									</ul>
								</div>
							</div><!-- // End Store Category -->
							<!-- Why Us -->
							<div class="sidebar-widget">
								<h4 class="sidebar-widget-title">WHY US</h4>
								<div class="sidebar-widget-con">
									<div class="why-us">
										<p>We will make every effort to ensure that our cooperation has been successful, for you to be satisfied with our products and services. We are here to help you!</p>
										<div class="text-center">
											<img src="images/satisfaction-guarantee.png" alt="">
										</div>
									</div>
								</div>
							</div><!-- // End Why Us -->
						</div><!-- // End Sidebar -->
					</div>
					<div class="col-lg-9 order-lg-1">
						<div class="single-product-info">
							<h4 class="single-product-info-title">GALLERY</h4>
							<div class="single-product-con">
								<!-- Gellery -->
		                        <div class="slider">
		                            <!-- Single Gellery -->
		                            <input name="slide_switch" id="id1" checked="checked" type="radio">
		                            <label for="id1" class="thumbnail">
		                                <img alt="thumbnail1" src="https://via.placeholder.com/1000/349/fff.jpg">
		                            </label>
		                            <div class="large">
		                                <img alt="large image" src="https://via.placeholder.com/1000/349/fff.jpg">
		                            </div><!-- // End Single Gellery -->
		                            <!-- Single Gellery -->
		                            <input name="slide_switch" id="id2" type="radio">
		                            <label for="id2" class="thumbnail">
		                                <img alt="thumbnail1" src="https://via.placeholder.com/1000/2ec/fff.jpg">
		                            </label>
		                            <div class="large">
		                                <img alt="large image" src="https://via.placeholder.com/1000/2ec/fff.jpg">
		                            </div><!-- // End Single Gellery -->
		                            <!-- Single Gellery -->
		                            <input name="slide_switch" id="id3" type="radio">
		                            <label for="id3" class="thumbnail">
		                                <img alt="thumbnail1" src="https://via.placeholder.com/1000/344/fff.jpg">
		                            </label>
		                            <div class="large">
		                                <img alt="large image" src="https://via.placeholder.com/1000/344/fff.jpg">
		                            </div><!-- // End Single Gellery -->
		                            <!-- Single Gellery -->
		                            <input name="slide_switch" id="id4" type="radio">
		                            <label for="id4" class="thumbnail">
		                                <img alt="thumbnail1" src="https://via.placeholder.com/1000/e67/fff.jpg">
		                            </label>
		                            <div class="large">
		                                <img alt="large image" src="https://via.placeholder.com/1000/e67/fff.jpg">
		                            </div><!-- // End Single Gellery -->
		                            <!-- Single Gellery -->
		                            <input name="slide_switch" id="id5" type="radio">
		                            <label for="id5" class="thumbnail">
		                                <img alt="thumbnail1" src="https://via.placeholder.com/1000/222/fff.jpg">
		                            </label>
		                            <div class="large">
		                                <img alt="large image" src="https://via.placeholder.com/1000/222/fff.jpg">
		                            </div><!-- // End Single Gellery -->
		                        </div> <!-- // End Gellery -->
							</div>
						</div>
						<div class="single-product-info">
							<h4 class="single-product-info-title">DESCRIPTION</h4>
							<div class="single-product-con">
								<!-- Product Description -->
								<div class="product-desc">
									<h4>Here is your first product description heading</h4>
									<p>Here is your product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget laoreet leo. Duis volutpat enim sed nisl efficitur, eget lacinia justo dignissim. Pellentesque dolor libero, pellentesque luctus tristique ut, porttitor id ligula. Aliquam bibendum, est in iaculis feugiat, augue elit aliquet nunc, sed sodales ipsum lorem nec lacus.</p>
									<h4>Product Benefits:</h4>
									<ul>
										<li>Benefit 1</li>
										<li>Benefit 2</li>
										<li>Benefit 3</li>
										<li>Benefit 4</li>
									</ul>
									<h4>Here is your second product description heading</h4>
									<p>Here is your second paragraph with product description. Maecenas quis tortor in turpis consectetur consequat non eu sapien. Nulla finibus dictum varius. Nam tempus tincidunt nisl, eget commodo felis. Mauris tempus tellus neque, eget tempor ex vestibulum nec. Vivamus porttitor a enim et cursus. Vivamus efficitur odio risus, in placerat neque auctor sed.</p>
								</div><!-- // End Product Description -->
							</div>
						</div>
						<!-- Tab Area -->
						<div class="main-tab">
                            <input id="tab1" type="radio" name="tabs" checked="">
                            <label for="tab1"><i class="fa fa-paypal" aria-hidden="true"></i> Payment</label>
                            <input id="tab2" type="radio" name="tabs">
                            <label for="tab2"><i class="fa fa-refresh" aria-hidden="true"></i> returns</label>
                            <!-- Tab Content One -->
                            <section id="content1">
                                <p>Pay by Paypal or Payment Card</p>
                                <p>We meet all the standards to provide you with fully secure payment via Paypal. All your order payments are protected by Paypal Buyer Purchase Protection. You can pay by using the paypal wallet or the payment card.</p>
                            </section><!-- // End Tab Content One -->
                            <!-- Tab Content Two -->
                            <section id="content2">
                                <p>30 days refund</p>
                            </section><!-- // End Tab Content Two -->
                        </div><!-- // End Tab Area -->
						<div class="single-product-info">
							<h4 class="single-product-info-title">MORE ITEMS!</h4>
							<div class="single-product-con">
								<div class="row no-gutters">
									<div class="col-md-3">
										<!-- Single More Item -->
										<div class="single-more-item text-center">
											<img src="https://i.ebayimg.com/images/g/n1EAAOSwBY5eIkHJ/s-l1600.jpg" alt="">
											<h5>Nutrics® 14,000mg Red Korean Ginseng Capsules 20:1 Strong Red Panax Pure Extract</h5>
											<a target="_blank" href="https://www.ebay.co.uk/itm/223859481139">View</a>
										</div><!-- // End Single More Item -->
									</div>
									<div class="col-md-3">
										<!-- Single More Item -->
										<div class="single-more-item text-center">
											<img src="https://i.ebayimg.com/images/g/WkwAAOSw5v9eVRms/s-l1600.jpg" alt="">
											<h5>Nutrics® ORGANIC 100% PURE ASHWAGANDHA 600mg x 100 Vegan Capsules Fatigue Relief</h5>
											<a target="_blank" href="https://www.ebay.co.uk/itm/223128050370">View</a>
										</div><!-- // End Single More Item -->
									</div>
									<div class="col-md-3">
										<!-- Single More Item -->
										<div class="single-more-item text-center">
											<img src="https://i.ebayimg.com/images/g/imsAAOSwnZReVtG5/s-l1600.jpg" alt="">
											<h5>Nutrics® FENUGREEK 100% PURE 750mg x 90 Vegan Capsules 4 Breast Milk not tablets</h5>
											<a target="_blank" href="https://www.ebay.co.uk/itm/223132330145">View</a>
										</div><!-- // End Single More Item -->
									</div>
									<div class="col-md-3">
										<!-- Single More Item -->
										<div class="single-more-item last text-center">
											<img src="https://i.ebayimg.com/images/g/lL8AAOSw46BdvcbQ/s-l1600.jpg" alt="">
											<h5>Nutrics® 7000mg x 90 TRIBULUS TERRESTRIS Extract 95% Saponins Vegan Capsules</h5>
											<a target="_blank" href="https://www.ebay.co.uk/itm/223165602442">View</a>
										</div><!-- // End Single More Item -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- // End Product Area -->
		<!-- Footer Area -->
		<div class="tem-ftr">
			<div class="ftr-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<!-- Footer Widget -->
							<div class="ftr-widget">
								<h4 class="ftr-widget-title">ABOUT US</h4>
								<div class="ftr-about">
									<p>Nutrics Laboratories was established to provide high quality food supplements manufactured with current GMP to the wider public. We create ethical products at a great affordable price point. We use pullulan (Vegan friendly) capsule shells, and vegan friendly ingredients where-ever possible. For some of our product formulations we require gelatin capsules, mainly the beauty category, for this we source the best quality halal and kosher friendly capsules on the market.</p>
									<p>Do you have questions? Feel free to contact us!</p>
								</div>
							</div><!-- // End Footer Widget -->
						</div>
						<div class="col-lg-4">
							<!-- Footer Widget -->
							<div class="ftr-widget">
								<h4 class="ftr-widget-title">BENEFITS</h4>
								<div class="ftr-benefits">
									<p><i class="fa fa-check" aria-hidden="true"></i> Only high product quality</p>
									<p><i class="fa fa-check" aria-hidden="true"></i> Best prices</p>
									<p><i class="fa fa-check" aria-hidden="true"></i> Fast Shipping</p>
									<p><i class="fa fa-check" aria-hidden="true"></i> 30 days refund</p>
								</div>
							</div><!-- // End Footer Widget -->
						</div>
						<div class="col-lg-4">
							<!-- Footer Widget -->
							<div class="ftr-widget">
								<h4 class="ftr-widget-title">USEFUL LINKS</h4>
								<ul>
									<li><a target="_blank" href="#">ABOUT US</a></li>
									<li><a target="_blank" href="#">FEEDBACK</a></li>
									<li><a target="_blank" href="#">ADD US</a></li>
									<li><a target="_blank" href="#">CONTACT</a></li>
								</ul>
							</div><!-- // End Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<div class="ftr-btm">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="copy-right text-center">
								© 2020 Nutrics. All Copyrights Reserved
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>