
.single-more-item a,
.single-fdbk i,
.feedback-hdr .star,
.single-promo i {
	color: #00A500;
}
.main-tab label:hover,
.sidebar-widget-title,
.main-tab label,
.single-product-info-title,
.hdr-btm {
	background-color: #00A500;
}
.main-tab input:checked + label {
	border-top-color: #00A500 !important;
}
